@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.capitalize-text {
  text-transform: capitalize;
}

.box-border {
  border-radius: 20px;
  box-shadow: 10px 5px 5px grey;
}
